---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import SectionLayout from "../components/SectionLayout.astro";
import Info from "../components/Info.astro";
import HeadingSec from "../components/HeadingSec.astro";
import SliderRounded from "../components/SliderRounded.astro";
import ImgSection from "../components/ImgSection.astro";
import Button from "../components/Button.astro";
---

<Layout
	title="Travellian"
	description="Discover, plan, and experience your dream destinations effortlessly with our intuitive trip application. Seamlessly organize itineraries, find hidden gems, and create unforgettable journeys with ease."
>
	<main>
		<Hero />

		<SectionLayout>
			<img
				class="py-[40px] px-[30px] m-auto"
				src="./square.png"
				alt="Square background decoration"
			/>
			<Info
				subHeading="What we do for you"
				heading="Transformando metas en realidades: tu guía desde el inicio hasta tu destino"
				paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit congue nisi, sed egestas tellus."
				button="FIND OUT MORE"
			/>
		</SectionLayout>

		<SectionLayout>
			<div class="w-[50vw] h-[60vh] mb-[10px]">
				<ImgSection
					direction="left"
					imgSrc="./img-section-1.png"
					alt="People on the computer"
				/>
			</div>
			<Info
				subHeading="Destinies"
				heading="Escoge entre nuestros 5 paises"
				paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit congue nisi, sed egestas tellus."
				button="FIND OUT MORE"
			/>
		</SectionLayout>

		<SectionLayout>
			<ImgSection
				direction="right"
				imgSrc="./img-section-1.png"
				alt="People on the computer"
			/>
			<Info
				subHeading="Destinies"
				heading="Escoge entre nuestros 5 paises"
				paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit congue nisi, sed egestas tellus."
				button="FIND OUT MORE"
			/>
		</SectionLayout>

		<SectionLayout background="bg-darkBlue">
			<HeadingSec
				color="text-white"
				subHeading="Nuestros sestinos"
				heading="Explore the world"
			/>
			<SliderRounded />
		</SectionLayout>

		<SectionLayout>
			<HeadingSec
				color="text-darkBlue"
				subHeading="Stay Update"
				heading="Our latest news..."
			/>
		</SectionLayout>

		<section class="min-h-screen flex flex-col">
			<div class="relative z-10 flex-[1_1_50vh] bg-transparent">
				<HeadingSec
					color="text-darBlue"
					subHeading="Contact"
					heading="Get in touch and let's build yuor path to success together"
				/>
			</div>
			<div class="flex-[1_1_50vh] bg-lightBlue relative">
				<Button text="CONTACT US" buttonType="secondary" addClasses="button-center" />
				<img
					class="absolute right-[50%] translate-x-1/2 translate-y-[-50%]"
					src="./square.png"
					alt="Square background decoration"
				/>
			</div>
		</section>
	</main>
</Layout>
