---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import SectionLayout from "../components/SectionLayout.astro";
import Info from "../components/Info.astro";
import HeadingSec from "../components/HeadingSec.astro";
import SliderRounded from "../components/SliderRounded.astro";
import ImgSection from "../components/ImgSection.astro";
import Button from "../components/Button.astro";
import ScrollButton from "../components/ScrollButton.astro";
---

<Layout
	title="Travellian"
	description="Discover, plan, and experience your dream destinations effortlessly with our intuitive trip application. Seamlessly organize itineraries, find hidden gems, and create unforgettable journeys with ease."
>
	<main>
		<Hero />

		<SectionLayout>
			<svg class="sketch" width="273" height="665" viewBox="0 0 273 665" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M137.023 0V295.235L138.877 295.698L147.687 325.319L199.621 322.079C204.258 322.079 214.552 322.634 218.632 324.856C222.712 327.078 223.733 328.25 223.733 328.559C224.042 329.021 225.124 330.132 226.978 330.873C229.297 331.798 233.47 334.575 234.397 337.815C235.139 340.407 231.306 342.906 229.297 343.832C225.587 345.221 217.612 348.09 215.386 348.46C213.16 348.831 203.021 349.232 198.23 349.386L157.425 351.237C154.334 352.78 146.575 355.68 140.268 354.94L129.604 363.734C133.159 362.808 140.825 361.512 143.051 363.734C145.833 366.511 145.833 375.767 143.051 377.156C139.959 377.619 130.346 377.526 116.621 373.453L76.2799 402.149C75.0434 403.074 72.2922 404.741 71.1793 404C70.0665 403.259 68.8609 402.457 68.3972 402.149L109.202 364.659L115.23 354.94L68.3972 350.774C64.9968 350.466 54.3007 348.553 38.7208 343.369L23.419 350.312L16 351.237L29.447 340.129C28.2105 339.204 25.7375 336.982 25.7375 335.501C25.7375 334.02 26.0466 333.341 26.2012 333.187C26.3557 332.724 27.7777 331.798 32.2291 331.798C31.8582 331.801 22.1825 311.126 17.3911 300.789L24.8101 299.863L55.4136 329.484L130.995 326.244C132.695 326.553 136.281 329.669 137.023 339.667L137 665" stroke="#FFD700" stroke-width="2"/>
			</svg>
				
				
			<img
				class="py-[40px] px-[30px] m-auto w-[375px]"
				src="./square.png"
				alt="Square background decoration"
			/>
			<Info
				subHeading="What we do for you"
				heading="Transformando metas en realidades: tu guía desde el inicio hasta tu destino"
				paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit congue nisi, sed egestas tellus."
				button="FIND OUT MORE"
			/>

			<ScrollButton />

		</SectionLayout>

		<SectionLayout>

			<svg class="sketch" width="273" height="667" viewBox="0 0 273 667" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M137 0V262.5H146.737C149.056 262.809 153.693 264.907 153.693 270.831C153.693 276.755 153.693 289.653 153.693 295.361H170.19C173.127 295.207 179 296.657 179 303.692C179 310.727 179 354.757 179 375.893C178.691 378.516 176.774 383.761 171.581 383.761C166.388 383.761 167.253 383.761 168.335 383.761V393.018C168.335 394.253 167.686 396.721 165.089 396.721C162.493 396.721 158.443 396.721 156.743 396.721C155.506 396.567 153.033 395.61 153.033 393.018C153.033 390.426 153.033 385.767 153.033 383.761H120V393.018C120 394.253 119.258 396.721 116.29 396.721C113.323 396.721 109.49 396.721 107.944 396.721C106.708 396.721 104.235 395.98 104.235 393.018C104.235 390.056 104.235 385.613 104.235 383.761C100.834 383.761 94.0334 382.188 94.0334 375.893C94.0334 369.599 94.0334 325.136 94.0334 303.692C94.3425 300.915 96.3518 295.361 101.916 295.361C107.48 295.361 120.616 295.657 128.654 295.657C138.391 295.657 137 301.118 137 321.112C137 330.926 137 546.345 137 666.296" stroke="#FFD700" stroke-width="2"/>
			</svg>
			
			<div class="w-[50vw] h-[60vh] mb-[10px]">
				<ImgSection
					direction="left"
					imgSrc="./img-section-1.png"
					alt="People on the computer"
				/>
			</div>
			<Info
				subHeading="Destinies"
				heading="Escoge entre nuestros 5 paises"
				paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit congue nisi, sed egestas tellus."
				button="FIND OUT MORE"
			/>
			<ScrollButton />

		</SectionLayout>

		<SectionLayout>
			<ImgSection
				direction="right"
				imgSrc="./img-section-1.png"
				alt="People on the computer"
			/>
			<Info
				subHeading="Destinies"
				heading="Escoge entre nuestros 5 paises"
				paragraph="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam hendrerit congue nisi, sed egestas tellus."
				button="FIND OUT MORE"
			/>

			<ScrollButton />

		</SectionLayout>

		<SectionLayout background="bg-darkBlue">
			<HeadingSec
				color="text-white"
				subHeading="Nuestros sestinos"
				heading="Explore the world"
			/>
			<SliderRounded />

			<ScrollButton color="text-white" />

		</SectionLayout>

		<SectionLayout>
			<HeadingSec
				color="text-darkBlue"
				subHeading="Stay Update"
				heading="Our latest news..."
			/>

			<ScrollButton />

		</SectionLayout>

		<section class="min-h-screen flex flex-col">
			<div class="relative z-10 flex-[1_1_50vh] bg-transparent">
				<HeadingSec
					color="text-darBlue"
					subHeading="Contact"
					heading="Get in touch and let's build yuor path to success together"
				/>
			</div>
			<div class="flex-[1_1_50vh] bg-lightBlue relative">
				<Button text="CONTACT US" buttonType="secondary" addClasses="button-center" />
				<img
					class="absolute right-[50%] translate-x-1/2 translate-y-[-50%]"
					src="./square.png"
					alt="Square background decoration"
				/>
				<button id="btn-go-top" type="button">
					Click & Go SLOW to the TOP!
				</button>
			</div>
		</section>
	</main>
</Layout>


<style is:global>

svg.sketch {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
  }

</style>

<script>
  // @ts-nocheck
	const svgArr = [...document.querySelectorAll("svg.sketch")]
	const pathArr = svgArr.map((e) => e.querySelector("path"))
	const pathLengthArr = pathArr.map((e) => e.getTotalLength())
	const totalDistances = svgArr.map((e) => e.clientHeight / 2)

	const reverseArr = svgArr.map((e) => Boolean(e.dataset.reverse))

	const scroll = () => {
		const elementsDistance = svgArr.map((e, i) => {
			let distance = e.getBoundingClientRect().y
			if (i > 0) {
				distance -= totalDistances[i] / 1.1
			}
			return Math.max(0, -distance)
		})
		const percentages = elementsDistance.map((e, i) => Math.min(1, (e / totalDistances[i])))

		pathArr.map((e, i) => e.style.strokeDasharray = pathLengthArr[i])
		pathArr.map((e, i) => {
			const percentage = reverseArr[i] ? -(1 - percentages[i]) : 1 - percentages[i]
			e.style.strokeDashoffset = pathLengthArr[i] * percentage
		})
	};

	scroll();
	window.addEventListener("scroll", scroll);

</script>
