---
interface Props {
    text?: string
    color?: string
}

const {text, color} = Astro.props
---
<div class=`w-full absolute bottom-0 py-16 text-center ${color || ''}`>
    <span class="button cursor-pointer">
        {text || 'NEXT'}
    </span>
</div>

<script>
    // @ts-nocheck
    const height = window.innerHeight
    const button = [...document.querySelectorAll(".button")]
    let yPos = window.scrollY

    window.addEventListener("scroll", ()=> {
        yPos = window.scrollY
    })

    const nextSectionHandler = () => {
        const sectionReminder = yPos % height
        let distance = height

        sectionReminder ? distance += yPos - sectionReminder : distance += yPos
         
        window.scrollTo({
            top: distance,
            behavior: 'smooth'
        })
    }

    button.forEach((e) => {
        e.addEventListener("click", nextSectionHandler)
    })
</script>