---
interface Props {
  background?: string;
  addClasses?: string;
}
const { background, addClasses } = Astro.props;
---

<section class=`min-h-screen pb-[10px] relative ${background || ''} ${addClasses || ''}`>
  <slot />
</section>
